.error-indicator{
  margin: 0 auto;
  color: darkgoldenrod;

  img{
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .boom{
    font-weight: bold;
    text-align: center;
  }
}